<label for="{{vm.field.key}}" class="{{ vm.field.type }}" ng-click="vm.toggleCheckbox()" ng-class="{ hidden: vm.field.hide }">
	<input ng-if="vm.field.type === 'checkbox'" type="checkbox" name="{{vm.field.key}}" ng-model="vm.field.value" />
	<span class="tick" ng-if="vm.field.type === 'checkbox'"></span>
	<span class="label">{{ vm.field.label }}</span>
	<input
		ng-if="vm.field.type !== 'select' && vm.field.type !== 'textarea' && vm.field.type !== 'checkbox'"
		type="{{vm.field.type}}"
		name="{{vm.field.key}}"
		placeholder="{{ vm.field.placeholder ? vm.field.placeholder : vm.field.label }}"
		ng-model="vm.field.value"
		ng-change="vm.onChange({ field: vm.field })"
		ng-attr-max="{{ vm.field.max }}"
		ng-attr-min="{{ vm.field.min }}"
	/>
	<textarea
		ng-if="vm.field.type === 'textarea'"
		name="{{vm.field.key}}"
		placeholder="{{ vm.field.placeholder ? vm.field.placeholder : vm.field.label}}"
		ng-model="vm.field.value"
		ng-change="vm.onChange({ field: vm.field })"
		ng-style="{ height: vm.dynamicHeight }"
	>
	</textarea>
	<select ng-if="vm.field.type === 'select'" name="{{vm.field.key}}" placeholder="{{ vm.field.placeholder ? vm.field.placeholder : vm.field.label}}" ng-model="vm.field.value" ng-change="vm.onChange({ field: vm.field })">
		<option ng-repeat="o in vm.options" ng-value="o.value">{{o.label}}</option>
	</select>
</label>
