<div class="canvas" ng-style="{ width: vm.width+'px', fontSize: vm.fontSize+'em' }">
	<div class="canvas__headerBar" ng-style="{ background: vm.t.colours.primary }"></div>
	<div class="canvas__body">
		<div class="canvas__header" ng-style="{ color: vm.t.colours.secondary }"><h1 canvas-field="details.company.name"></h1></div>
		<div class="canvas__address">
			<span canvas-field="details.company.address"></span><br>
			<i canvas-field="details.company.email"></i><br>
			<i canvas-field="details.company.number"></i>
		</div>
		<div class="canvas__subHeader" ng-style="{ color: vm.t.colours.primary }"><h2>Invoice</h2></div>
		<div class="canvas__submitted" ng-style="{ color: vm.t.colours.secondary }">Submitted on: <span>{{ vm.t.details.submittedDate | date:'dd/MM/yyyy' }}</span></div>
		<div class="canvas__details">
			<table>
				<tr>
					<td rowspan="2">
						<b>Invoice for</b>
						<p canvas-field="details.recipient.name"></p>
						<p canvas-field="details.recipient.address"></p>
					</td>
					<td>
						<b>Payable to</b>
						<p canvas-field="details.company.payableTo">Ikenga Innovations</p>
					</td>
					<td>
						<b>Invoice #</b>
						<p canvas-field="details.recipient.invoiceNumber">LH006</p>
					</td>
				</tr>
				<tr>
					<td>
						<b>Project</b>
						<p canvas-field="{{ vm.fb ? 'project.name' : 'details.project' }}"></p>
					</td>
					<td>
						<b>Due date</b>
						<p>{{ vm.t.details.recipient.dueDate | date:'dd/MM/yyyy' }}</p>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div class="canvas__items">
			<table>
				<tr ng-style="{ color: vm.t.colours.primary }">
					<th>Description</th>
					<th>Qty</th>
					<th>Unit Price</th>
					<th>Total Price</th>
				</tr>
				<tr ng-repeat="r in vm.lineItems">
					<td>{{ r.label }}</td>
					<td>{{ r.quantity }}</td>
					<td>&pound;{{ r.unitPrice | price }}</td>
					<td>&pound;{{ r.totalPrice | price }}</td>
				</tr>
			</table>
		</div>
		<div class="canvas__row">
			<div class="canvas__bankDetails">
				<h2 ng-style="{ color: vm.t.colours.secondary }">Bank Details</h2>
				<table>
					<tr>
						<td>Bank Name</td>
						<td canvas-field="details.companyBank.name"></td>
					</tr>
					<tr>
						<td>Account Name</td>
						<td canvas-field="details.companyBank.accName"></td>
					</tr>
					<tr>
						<td>Account Number</td>
						<td canvas-field="details.companyBank.accNumber"></td>
					</tr>
					<tr>
						<td>Sort Code</td>
						<td canvas-field="details.companyBank.sortCode"></td>
					</tr>
				</table>
			</div>
			<div class="canvas__total">
				<table>
					<tr>
						<td class="label" ng-style="{ color: vm.t.colours.primary }">Subtotal</td>
						<td><b>&pound;{{ vm.subTotal | price }}</b></td>
					</tr>
					<tr>
						<td class="label" ng-style="{ color: vm.t.colours.primary }">VAT</td>
						<td><b>&pound;{{ vm.vat | price }}</b></td>
					</tr>
				</table>
				<h2 ng-style="{ color: vm.t.colours.secondary }">&pound;{{ vm.grandTotal | price }}</h2>
			</div>
		</div>
	</div>
</div>
