<div class="canvas" ng-style="{ width: vm.width+'px', fontSize: vm.fontSize+'em' }">
	<div class="canvas__headerBar" ng-style="{ background: vm.t.colours.primary }"></div>
	<div class="canvas__body">
		<div class="canvas__header" ng-style="{ color: vm.t.colours.secondary }"><h1 canvas-field="details.company.name"></h1></div>
		<div class="canvas__address">
			<span canvas-field="details.company.address"></span><br>
			<i canvas-field="details.company.email"></i><br>
			<i canvas-field="details.company.number"></i>
		</div>
		<div class="canvas__subHeader" ng-style="{ color: vm.t.colours.primary }"><h2>Invoice</h2></div>
		<div class="canvas__submitted" ng-style="{ color: vm.t.colours.secondary }">Submitted on: <span canvas-field="details.submittedDate"></span></div>
		<div class="canvas__details">
			<table>
				<tr>
					<td rowspan="2">
						<b>Invoice for</b>
						<p canvas-field="details.recipient.name"></p>
						<p canvas-field="details.recipient.address"></p>
					</td>
					<td>
						<b>Payable to</b>
						<p>Ikenga Innovations</p>
					</td>
					<td>
						<b>Invoice #</b>
						<p>LH006</p>
					</td>
				</tr>
				<tr>
					<td>
						<b>Project</b>
						<p canvas-field="{{ vm.fb ? 'project.name' : 'details.project' }}"></p>
					</td>
					<td>
						<b>Due date</b>
						<p>20/07/2018</p>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div class="canvas__items">
			<table>
				<tr ng-style="{ color: vm.t.colours.primary }">
					<th>Description</th>
					<th>Qty</th>
					<th>Unit Price</th>
					<th>Total Price</th>
				</tr>
				<tr>
					<td>Booking Amendments</td>
					<td>1</td>
					<td>&pound;216.67</td>
					<td>&pound;216.67</td>
				</tr>
			</table>
		</div>
		<div class="canvas__row">
			<div class="canvas__bankDetails">
				<h2 ng-style="{ color: vm.t.colours.secondary }">Bank Details</h2>
				<table>
					<tr>
						<td>Bank Name</td>
						<td canvas-field="details.companyBank.name">HSBC Bank Plc</td>
					</tr>
					<tr>
						<td>Account Name</td>
						<td canvas-field="details.companyBank.accName">Ikenga Innovations Ltd</td>
					</tr>
					<tr>
						<td>Account Number</td>
						<td canvas-field="details.companyBank.accNumber">1452152</td>
					</tr>
					<tr>
						<td>Sort Code</td>
						<td canvas-field="details.companyBank.sortCode">40-18-17</td>
					</tr>
				</table>
			</div>
			<div class="canvas__total">
				<table>
					<tr>
						<td class="label" ng-style="{ color: vm.t.colours.primary }">Subtotal</td>
						<td><b>&pound;216.67</b></td>
					</tr>
					<tr>
						<td class="label" ng-style="{ color: vm.t.colours.primary }">VAT</td>
						<td><b>&pound;43.33</b></td>
					</tr>
				</table>
				<h2 ng-style="{ color: vm.t.colours.secondary }">&pound;260.00</h2>
			</div>
		</div>
	</div>
</div>
