<div class="sidebar">
	<div class="sidebar__tabs">
		<a ng-repeat="(key, icon) in vm.tabs" ui-sref="edit({ tab: key })" ui-sref-active="active">
			<span class="icon">{{icon}}</span>
		</a>
	</div>
	<div class="flex">
		<div ng-repeat="(key, fields) in vm.fields" ng-if="vm.currentTab === key" class="flex flex--column">
			<div class="sidebar__column">
				<div ng-repeat="i in fields" class="sidebar__row">
					<dynamic-input field="i" on-change="vm.updateField(field)" fogbugz="i.fogbugz"></dynamic-input>
					<dynamic-input ng-if="i.fogbugz === false && i.fogbugzField" field="i.fogbugzField" on-change="vm.updateField(field)" fogbugz="true"></dynamic-input>
				</div>
			</div>
		</div>
	</div>
</div>
