<div class="sidebar">
	<div class="sidebar__tabs">
		<a ng-repeat="(key, icon) in vm.tabs" ui-sref="edit({ tab: key })" ui-sref-active="active">
			<span class="icon">{{icon}}</span>
		</a>
	</div>
	<div ng-switch="vm.currentTab" class="flex">
		<div ng-switch-when="design" class="flex flex--column">
			<div class="sidebar__column">
				<div class="sidebar__row">
					<label for="primaryColour">
						Primary Colour
						<input name="primaryColour" type="color" ng-model="vm.template.colours.primary" />
					</label>
				</div>
				<div class="sidebar__row">
					<label for="primaryColour">
						Secondary Colour
						<input name="secondaryColour" type="color" ng-model="vm.template.colours.secondary" />
					</label>
				</div>
			</div>
		</div>
		<div ng-switch-when="details" class="flex flex--column">
			<div class="sidebar__column">
				<div class="sidebar__row" fogbugz="true">
					<label for="project">
						Project
						<select name="project" ng-model="vm.selectedProject" ng-change="vm.changeProject()">
							<option ng-repeat="p in vm.projects" ng-value="$index">{{ p.name }}</option>
						</select>
					</label>
				</div>
				<div ng-repeat="i in vm.fields.details" class="sidebar__row">
					<input ng-if="i.type !== 'select'" name="details.{{i.key}}" placeholder="{{ i.placeholder }}" fogbugz="i.fogbugz" ng-model="vm.template['details'][i.key]" ng-change="vm.updateField(i.key, 'details')" />
					<select ng-if="i.type === 'select'">
					</select>
				</div>
			</div>
		</div>
		<div ng-switch-when="items" class="flex flex--column">
			<div ng-if="!vm.template.fogbugz.useFogbugz">
				<div class="sidebar__row">
				</div>
			</div>
			<div ng-if="vm.template.fogbugz.useFogbugz" class="sidebar__column">
				<hr>
				<div class="sidebar__column">
					<div class="sidebar__row">
						<label for="dateFrom">
							Timesheet From:
							<input type="date" ng-model="vm.fb.settings.dateFrom" ng-disabled="!vm.fb.settings.useFogbugz" />
						</label>
					</div>
					<div class="sidebar__row">
						<label for="dateTo">
							Timesheet To:
							<input type="date" ng-model="vm.fb.settings.dateTo" ng-disabled="!vm.fb.settings.useFogbugz" />
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
