
$primary: #E26D5C;
// $accent: #D6C0B1;
$accent: #636363;

$grey: #374444;
$grey-dark: #172121;
$grey-light: lighten($grey, 20%);

$sidebar-bg: lighten($grey-dark, 2%);

$gap: 16px;

/* Canvas Colours */

$c-text-dark: #24374c;
$c-text-light: #6f7c98;
$c-text-table: #5d758e;

$c-table-alt: #dbe4f3;

$font-size-default: 16px;
$font-family-default: 'Nunito', sans-serif;
