@import '_global';

label {
	display: block;
	width: 100%;
	color: $primary;
	font-size: 12px;

	&.checkbox {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;

		>span {
			position: relative;
			display: block;
			padding: 4px;

			margin-left: $gap;
			min-width: 30px;
			min-height: 30px;
			width: 30px;
			height: 30px;
			border: 1px solid $primary;
			border-radius: 3px;

			transition: border-color .3s;

			&:hover {
				border-color: lighten($primary, 5%);
			}

			&:before {
				position: absolute;
				display: block;
				content: "";

				width: 20px;
				height: 20px;

				background: $primary;
				border-radius: 3px;
				transition: .1s;
				opacity: 0;
			}
		}

		input:checked+span {
			&:before {
				opacity: 1;
			}
		}
	}
}

input, select {
	display: block;
	height: 22px + $gap;
	width: 100%;
	margin: ($gap /2) 0;
	padding: ($gap / 2);
	font-size: $font-size-default;
	font-family: $font-family-default;
	background: $grey-dark;
	border: 1px solid $grey;
	border-radius: 3px;
	color: $grey-light;

	transition: border-color .1s, color .1s;

	&:focus {
		border-color: $primary;
		color: white;
		outline: none;
	}
}

input {

	&[type="color"] {
		padding: 0;
		border: none;
		height: 40px;
	}

	&[type="checkbox"] {
		display: none;
	}
}

select {
	option {
		font-size: 14px;
	}

	&:value {
		opacity: .2;
	}
}
